<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <title>Shoes Plus</title>
    </head>
    <body><center>
        <h1>{{ brand.getBrandName }}</h1>

        {% if stores is not empty %}
            <p>Here are the stores that carry this brand:</p>
            <ul>
                {% for store in stores %}
                    <p>{{ store.getName }}</p>
                {% endfor %}
            </ul>
        {% endif %}

        <h4>Add a store to this Brand:</h4>

        <form action='/add_stores' method='post'>
            <input id='brand_id' name='brand_id' type='hidden' value='{{ brand.getId }}'>
            <label for='store_id'> Select a Store</label>
            <select id='store_id' name='store_id' type='text'>
                {% for store in all_stores %}
                <option value='{{ store.getId }}'> {{ store.getName }} </option>
                {% endfor %}
            </select>
            <button type='submit' class='btn btn-warning'>Add Store</button>
        </form>

        <form action='/brand/{{ brand.getId }}/edit' method='get'>
              <button type='submit' class='btn btn-warning'>Edit this Brand</button>
            </form>

        <p><button type='submit' class='btn btn-warning'><a href='/'>Home</a></button></p>

    </center></body>
</html>
