<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <title>Shoes Plus</title>
    </head>
    <body><center>
        <h1> {{ store.getName }} </h1>

        {% if brands is not empty %}

            <ul>
                {% for brand in brands %}
                    <p>{{ brand.getBrandName }}</p>
                {% endfor %}
            </ul>
        {% endif %}

        <h4> Add a Brand to this Store </h4>

        <form action='/add_brands' method='post'>
            <input id='store_id' name='store_id' type='hidden' value='{{ store.getId }}'>
            <label for='brand_id'>Select a Brand</label>
            <select id='brand_id' name='brand_id' type='text'>
                {% for brand in all_brands %}
                    <option value="{{ brand.getId }}">{{ brand.getBrandName }}</option>
                {% endfor %}
            </select>
            <button type='submit' class='btn btn-warning btn-xs'>Add Brand</button>
        </form>

        <form action='/store/{{ store.getId }}/edit' method='get'>
              <button type='submit' class='btn btn-warning'>Edit this Store</button>
            </form>

        <p><button type='submit' class='btn btn-warning'><a href='/'>Home</a></button></p>

    </center></body>
</html>
